@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

html{
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
}

.navbarbutton ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    float: right;
    margin-right: 100px;
    margin-top: 10px;
    font-weight: bold;
}
  
.navbarbutton li {
    float: left;
    column-width:150px;
}
  
.navbarbutton li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 30px;
}

.navbarbutton li a:hover:not(.active) {
    background-color: #AED6F1;
}

.navbarbutton active {
    background-color: #AED6F1;
}

.navbar{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;

}

.navbarname a span{
    padding: 10px 0;
    font-size:250%;
    font-weight: 900;
    margin-left: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

//////////////////////////////////////////////////////////////////////////////////////
// LOGIN 
//////////////////////////////////////////////////////////////////////////////////////

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: -9px;
  }

.loginform{
    padding: 10px 0;
}

.loginform h1{
    text-align: center;
    margin-right:70px;
}

.loginform form{
    margin-right:70px;
}

body{
    overflow: hidden;
}